
.currentCrypto-container {
 margin-bottom: 30px;
 margin-top: 10px;
}

.left-column {
  max-width: 25%;
  margin-top: 10px;
}

.progress-container {
  margin-top: 5px;
  position: relative;
}

 .fiatCard {
  background-color: #555;
  color: white;
  margin: 10px;
  padding-left: 10px;
  padding-right: 25px;
  box-shadow: 10px 10px #00d1b2;
}
 
 #searchCrypto {
  width: 210px !important;
  
 }

 #popup-container {
  position: absolute;
  bottom: 5%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #00d1b2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  z-index: 1000;
  overflow: auto;
}
 
.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1000;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .left-column{
    max-width: 100%;
  }

  .fiatCard {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .left-column{
    max-width: 100%;
  }

}