.left-column {
 margin-left: 10px;
}

.center-column {
  margin-right: 800px;
}
.conversion-container {
  margin-top: 25px;
}

.currentCrypto-container {
  margin-top: 5px;
}

 .fiatCard {
  background-color: #555;
  color: white;
  margin: 10px;
  padding-left: 10px;
  padding-right: 25px;
  box-shadow: 10px 10px #00d1b2;
}
 

 #searchCrypto {
  width: 210px !important;
  
 }