.left-column {
 margin-left: 10px;
}

.center-column {
  margin-right: 800px;
}
.conversion-container {
  margin-top: 25px;
}

.currentCrypto-container {
  margin-top: 5px;
}

 .fiatCard {
  background-color: #555;
  color: white;
  margin: 10px;
  padding-left: 10px;
  padding-right: 25px;
  box-shadow: 10px 10px #00d1b2;
}
 
 #searchCrypto {
  width: 210px !important;
  
 }

 #popup-container {
  position: fixed;
  top: 20%;
  left: 87%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #00d1b2;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}
 
